 @import url('fonts.css');
  @import url('font-awesome.css');

 body{ font-family: Oswald-Medium; margin-bottom: 250px;}
 html{ position: relative; min-height: 100%;}

.left-menu { position: absolute; z-index: 10500; background: #046099; width: 350px; height: 100%; }
.left-menu-overlay{ position: absolute;width: 100%; height: 100%; background-color: rgba(3,18,28, 0.8); z-index: 10;}
.left-menu .user-profile .user-img{ width: 100px; height: 100px; border-radius: 100%; border: solid 3px #1f7bb4; overflow: hidden; object-fit: cover;}
.left-menu .user-profile{ border-bottom: solid 3px #1d72a6; padding-bottom: 30px;  margin: 0 20px 20px;}
.left-menu .user-profile .user-img img{ width: 100%; height: 100%; }
.left-menu .user-name { font-size: 20px; color: #fff; padding-top: 35px; padding-left: 20px;}
.left-menu .update-profile-link{font-family: Oswald-Light; font-size: 20px; padding-left: 20px;}
.left-menu .update-profile-link a{ color: #1da1f2; }
.left-menu .update-profile-link a:hover{ text-decoration: none; color: #fff; }
.left-menu .close-btn-block { padding: 20px; margin-bottom: 15px; }
.left-menu .close-btn { display: block; width: 24px; height: 24px; background: url(../images/close-icon.png) no-repeat 0 0; float: right; }
.left-menu-links { padding-bottom: 50px; margin-left: 20px ; margin-right: 20px;}
.left-menu-links ul{ margin: 0; padding: 0; }
.left-menu-links ul li{ margin: 0; padding: 0; list-style: none;}
.left-menu-links ul li a {font-family: Oswald-Light; font-size: 20px; display: block; padding-bottom: 10px; padding-top: 10px; color: #fff; padding-left: 30px; border-bottom: solid 1px #1d72a6;}
.left-menu-links ul li a:hover, .left-menu-links ul li.active a{ background-color: #1d72a6; text-decoration: none; }
.left-menu-links ul li a i{ float: right; margin-right: 10px; }
.left-menu .logout-block { margin: 20px; }
.left-menu .logout-block .btn-block{background-color: #1da1f2; text-transform: uppercase; padding: 10px; font-size: 26px;}



 .box-inner { width: 400px; padding: 10px;  border: 1px solid #a29415; }

 .modal-backdrop { background-color: rgba(3,18,28,0.8) !important; opacity: 1 !important }

/* Top navigation */
.navbar-default{ background-color: #1da1f2; margin-bottom: 0; font-family: Oswald-Light; font-size: 25px; border-bottom:none;}
.navbar-default .navbar-nav>li>a{ color: #77c7f7; }
.navbar-default .navbar-nav>li>a:hover{ color: #fff; }
.nav-toggler{ width: 41px; height: 24px; background: url(../images/nav-toggler.png) no-repeat 0 0; border: none; margin: 10px 30px 0 0; }
.navbar-default .navbar-nav>.active>a{ background-color: #fff;  }



/* search box */
.searchbox{ position:relative; min-width:50px;  width:0%;  height:50px; float:right; overflow:hidden;   
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{ top:0; right:0; border:0; border-radius: 3px; outline:0; background:#fff; width:100%;  height:40px; margin:5px 0; padding:0px 55px 0px 20px; font-size:20px; color:#333; }
.searchbox-input::-webkit-input-placeholder { color: #333; }
.searchbox-input:-moz-placeholder { color: #333; }
.searchbox-input::-moz-placeholder { color: #333;}
.searchbox-input:-ms-input-placeholder { color: #333; }
.searchbox-icon, .searchbox-submit{ width:50px; height:50px; display:block; position:absolute; top:0; font-size:22px; right:0; padding:0; margin:0; border:0; outline:0; line-height:50px; text-align:center; cursor:pointer; color:#fff; background:#1da1f2; }
.searchbox-open{ width:150%; }
.searchbox-icon:hover i{ color: #1c81be; }


/* Cart info */
.cart-info { margin-top: 8px; color: #fff; }
.cart-toggle { margin-top: 8px;  }
.cart-toggle a{ color: #1c81be; }


/* product lising */
.product-listing-block{ border-right:solid 1px #d2d2d2; border-bottom: solid 1px #d2d2d2; margin-top: 50px;}
.product-listing-block .col-md-3{ border:solid 1px #d2d2d2; min-height: 350px; border-right: none; border-top: none; }
.product-listing-block .prod-outer-container { padding: 20px 0; }
.product-listing-block .prod-img-container { text-align: center; height: 220px; overflow: hidden; }
.product-listing-block .prod-img-container img{ height: 100%; }
.prod-outer-container .prod-info-container{ padding-top: 15px; }
.prod-outer-container .prod-info-container .prod-name{ font-weight: bold; text-transform: uppercase; font-size: 18px; padding-top: 10px; color: #999; }
.prod-outer-container .prod-info-container .prod-price {font-weight: bold; text-transform: uppercase; font-size: 16px; color: #1da1f2; }
.product-listing-block a{ outline: none; }
.modal-backdrop { background-color: #0f3121;  }
.modal-backdrop.in {opacity: 0.8;}
a.prod-link{ display: block; }
a.prod-link:hover{text-decoration: none; }
.prod-outer-container .prod-discount { position: absolute; right: 20px; top: 20px; padding: 2px 10px; background-color:#000; color: #fff; font-size: 10px; z-index: 5; }

/* Product Listing Modal */
.modal-content{ border-radius: 0; background-color: #fff; top:20px;}
.close-btn-container{ right: 0; padding:0 20px; background-color:#fff;}
.close-btn-container .close{ font-size: 45px; }

.product-listing-block .modal-content .col-md-6{padding: 20px;}
.img-container img{ width: 100%; }
.product-listing-block .modal-content .info-container {border-left: solid 1px #e3e3e3;}
.product-listing-block .modal-content .product-title{ font-size: 18px; color: #333; text-transform: uppercase;}
.product-listing-block .modal-content .product-code{ text-transform: uppercase; color: #868282; font-size: 15px; font-family: Oswald-Light; margin-bottom: 30px; }
.product-listing-block .product-description { color: #a2a2a3; font-size: 15px; font-family: Oswald-Light; margin-bottom: 50px; }
.product-listing-block .product-price {color: #1da1f2; font-size: 36px; font-family: Oswald-Light; margin-bottom: 20px;}
.product-listing-block .available-colors{color: #999; font-size: 16px; margin-bottom: 40px;}
.radio-wrapper{ display: block; clear: both;  position: absolute; margin-top: -32px; margin-left: 80px;}
.radio-wrapper .btn-info{ background-color: transparent; }
.radio-wrapper input{ display: none; }
.product-listing-block .quantity-size{ border-top: solid 1px #e3e3e3; border-bottom: solid 1px #e3e3e3; }
.product-listing-block .quantity-size > .col-md-6:first-child{ border-right: solid 1px #e3e3e3; }
 #checkout-modal .col-md-6.info-container{border-left: solid 1px #e3e3e3;}
.product-listing-block .quantity-size .col-md-6{ padding:10px 20px 10px 0; }
.product-listing-block .quantity-size .form-group{ margin-bottom: 0; }
.product-listing-block .quantity-size .form-control{ border: none; box-shadow: none; color: #999; font-size: 16px;}
.product-listing-block .add-to-cart{ margin-top: 40px; }
.product-listing-block .add-to-cart .btn{ color: #fff; padding: 10px 25px 10px 25px; border-color: #1da1f2; font-size: 18px; text-transform: uppercase; margin-bottom: 20px;}
.product-listing-block .add-to-cart .btn i{ font-size: 24px; }
.product-listing-block .add-to-cart .btn.add-to-cart-btn{ background-image: none; }
.product-listing-block .add-to-cart .btn:active{ background-color: #1784c7; }

.available-colors .btn{ width: 40px; height: 40px; border-radius: 100%; margin-right: 20px; border: none; }
.available-colors .btn i{ top: 5px; }
.available-colors .btn-green { background-color: rgba(144,202, 124, 0.4); color: #fff;}
.available-colors .btn_red { background-color: rgba(218,12, 12, 0.4); color: #fff;}
.available-colors .btn_blue { background-color: rgba(29,161, 242, 0.4); color: #fff;}
.available-colors .btn_black { background-color: rgba(0,0, 0, 0.4); color: #fff;}

.available-colors .btn-green.active { background-color: rgba(144,202, 124, 1); color: #fff;}
.available-colors .btn_red.active { background-color: rgba(218,12, 12, 1); color: #fff;}
.available-colors .btn_blue.active { background-color: rgba(29,161, 242, 1); color: #fff;}
.available-colors .btn_black.active { background-color: rgba(0,0, 0, 1); color: #fff;}


/* checkout */
#checkout-modal .col-md-6{padding-bottom: 30px;}
#checkout-modal .title{ font-size: 24px; color: #1da1f2; padding: 20px 0; margin-bottom: 30px; }
#checkout-modal .cart-product-container .cart-product{ border: solid 1px #e1dede; padding: 15px 0; margin-bottom: 15px; }
#checkout-modal .cart-product-container .cart-product .prod-img img{ width: 100%; }
#checkout-modal .cart-product-container .cart-product .name { font-size: 16px; color: #333;}
#checkout-modal .cart-product-container .cart-product .color { font-size: 14px; color: #9d9999; }
#checkout-modal .cart-product-container .cart-product .size { font-size: 14px; color: #9d9999; }
#checkout-modal .cart-product-container .cart-product .close-btn-link a{ display: block; width: 25px; height: 25px; background-color: #ccc; color: #fff; font-size: 30px; border-radius: 100%; float: right; text-align: center; line-height: 21px;}
#checkout-modal .cart-product-container .cart-product .close-btn-link a:hover{ text-decoration: none; background-color: #333; }
#checkout-modal .cart-product-container .cart-product .price{ font-size: 18px; color: #333; text-align: right; display: block;clear: both; margin-top: 50px; }
#checkout-modal.modal{ position: absolute; }
.subtotal-container-outer{ padding: 20px 0; }
.subtotal-inner{ border:solid 1px #e9f5fd; background-color: #e9f5fd; border:  solid 1px #b6def6; margin-bottom: 15px; }
.subtotal-inner .info-row { border-bottom: solid 1px #b6def6; padding:10px; }
.subtotal-inner .info-row .name{ color:#636262; font-size: 18px;}
.subtotal-inner .info-row .value {color:#9d9b9b; font-size: 18px;}
.subtotal-container-outer .dues { background-color: #1da1f2; border-radius: 5px; padding: 15px; font-size: 24px; color: #fff; font-family: Oswald-Light;}
.payment-method{ margin-bottom: 15px; }
.payment-method .title{ text-transform: uppercase; padding-top: 60px; color: #333; margin-bottom: 0 !important; }
.payment-method .cash-method { background-color: #ededed; border: solid 1px #dbdbdb; padding: 10px; color: #9b9b9b; }
.payment-method .col-md-6{ padding: 0 !important; border:none;}
.payment-method .value input{ width: 90%; padding: 10px 5px; background-color: #fff; border: none; }
.payment-method .name { line-height: 40px; font-size: 18px; }

.process-payment button{width: 100%; background-color: #0b6aa5; font-size: 24px; text-align: center; color: #fff; text-transform: uppercase; padding: 10px; border-radius: 5px;}
.process-payment { margin-top: 10px; }
.credit-card{ margin-top: 15px; margin-bottom: 30px; padding: 10px; }
.credit-card .col-md-4, .credit-card .col-md-8{ padding-left: 0; padding-right: 0; }
.credit-card .col-md-8{ border: solid 1px #dbdbdb; padding: 5px 0 5px 10px; }
.credit-card .card-type input{ width: 75%; border: none; text-align: right; }
.credit-card button{ padding: 10px; font-size: 20px; }
.cash-method .col-md-6{ border:none !important; }

/* PIN modal */
#pin-modal .modal-sm{ width: 500px; }
#pin-modal .title{ font-size: 24px; color: #1da1f2; padding: 40px 0 20px; margin-bottom: 30px; text-align: center; }
#pin-modal .pin-input {margin: 30px 0;}
#pin-modal .pin-input input{ width: 50px; height: 50px; padding: 10px; font-size: 36px; background-color: #def1fd; border: solid 1px #b6def6; text-align: center; margin: 0 15px;}
#pin-modal .btn-container { margin-top: 30px; }
#pin-modal .btn-container .btn-default{ font-size: 20px; background-color: #ececec; border: none; color: #b1b0b0; text-transform: uppercase; padding: 10px 30px; }
#pin-modal .btn-container .btn-primary {font-size: 20px; background-color: #1da1f2; border: none; color: #fff; text-transform: uppercase; padding: 10px 30px; }
#pin-modal.modal{ position: absolute; }

 
/* Login page */
html.login{ height: 100%; }
body.login-page { background: url(../images/login-bg.jpg) no-repeat 0 0; background-size:cover; height: 100%; } 
.login-outer-container{ position: absolute; display: table; height: 100%; width: 100%; }
.login-middle-container{ display: table-cell; vertical-align: middle; }
.login-inner-container {margin-left: auto; margin-right: auto; width: 360px;}
.login-outer-container .title{ font-size: 36px; color: #fff; text-transform: uppercase; text-align: center; margin-bottom: 30px; background: url(../images/login-title-bg.png) no-repeat center center;}
.login-outer-container .login-input input{ border-radius:3px; font-size: 24px; color: #000; padding: 10px 10px 10px 55px; width: 100%; margin-bottom: 15px; border: none; background-color: #e9f5fd;}
.login-outer-container .login-input ::-webkit-input-placeholder{ color: #085e92; font-family: Oswald-Light;}
.login-outer-container .login-input input[type="text"]{ background: #fff url(../images/user-icon.png) no-repeat 10px center; }
.login-outer-container .login-input input[type="password"]{ background: #fff url(../images/password-icon.png) no-repeat 10px center; }
.login-btn-container button{width: 100%; font-size: 25px; text-transform: uppercase; text-align: center; padding-bottom: 8px; padding-top: 8px; background-color: #085e92;   box-shadow: 3px 3px 0px #074e79;}
.login-outer-container .error-msg{ font-size: 18px; font-family: Oswald-Light;  color: #fff; background-color: rgba(89,198,219, 0.3); padding: 20px; border-radius: 5px; border: solid 1px #3ba7c1;
}
.login-outer-container .error-msg .pull-left{ width: 20%;  font-size: 36px;}
.login-outer-container .error-msg .pull-right{ width: 80%; }

/* top-cart */
.top-cart-block{ width: 400px; position: absolute; height: 100%; background-color: #f7f4f4; border: solid 1px #d2d2d2; top: 0px; right: 0px; z-index: 15; padding-top: 80px; padding-left: 15px; padding-right: 15px; }
.top-cart-block .cart-product .prod-img, .top-cart-block .cart-product .col-md-7{padding: 0;}
.top-cart-block .cart-product .col-md-6{ padding-left: 10px; }
.top-cart-block .cart-product .col-md-4{ text-align: right; padding-left: 10px; padding-right:0; }
.top-cart-block .cart-product .prod-img img{ width: 100%; height: 100%; }
.top-cart-block .cart-product{ padding: 10px; background-color: #fff; border: solid 1px #e1dede; margin-bottom: 15px;}
.top-cart-block .cart-title{ color: #6a6d6b; font-size: 25px; padding-bottom: 30px; font-family: Oswald-Light; }
.top-cart-block .close-cart {color: #6a6d6b;}
.top-cart-block .cart-product .color, .top-cart-block .cart-product .size { color: #9d9999}
.top-cart-block .cart-product .price{ font-size: 18px; clear: both; padding-top: 30px; }
.top-cart-block .cart-product .close-btn-link { display: block;clear: both; }
.top-cart-block .cart-product .close-btn-link a{ display: block; width: 19px; height: 19px; background: url(../images/close-circle-icon.png) no-repeat 0 0; float: right; }
.top-cart-block .cart-subtotal{ border: solid 1px #e1dede; padding: 10px; background: #fff; margin-top: 50px; font-family: Oswald-Light;}
.top-cart-block .cart-subtotal .value { border-bottom: solid 1px #e1dede; padding-bottom: 8px; padding-top: 8px; }
.top-cart-block .cart-subtotal .value:last-child{ border-bottom: none; }
.top-cart-block .cart-subtotal .value .name{ font-size: 18px; color: #636262; }
.top-cart-block .cart-subtotal .value .amount{ color: #9d9b9b; font-size: 18px; }
.top-cart-block .process-payment a{ background-color: #1da1f2; border: none; padding: 10px 20px; font-size: 24px; }
.navbar-fixed-top .cart-info { cursor: pointer; }
.top-cart-block .process-payment .name{font-family: Oswald-Light;}

/* ADMIN */
body.admin{ background-color: #f7f7f7; }
.admin-block{ margin-top: 50px; margin-bottom: 50px; }
.admin-block .page-title { font-size: 36px; color: #1da1f2; padding: 20px; background-color: #fff; font-family: Oswald-Light;}
.admin-block .white-block {background-color: #fff; padding: 20px; margin: 20px 0 0;}
.admin-block .white-block.user-info{ overflow: auto; }
.store-info-internal {border-radius: 3px; padding: 15px; height: 130px;}
.store-info-internal.cart-info{ background: #3598dc url(../images/cart-info.png) no-repeat bottom right; margin-top: 0;  }
.store-info-internal.stock-info{ background: #e7505a url(../images/stock-info.png) no-repeat bottom right;  }
.store-info-internal.customers-info{ background: #32c5d2 url(../images/user-info.png) no-repeat bottom right;  }
.store-info-internal.refund-info{ background: #8e44ad url(../images/refund-info.png) no-repeat bottom right;  }
.store-info-internal .amount{ font-size: 36px; color: #fff; min-height: 70px; }
.store-info-internal .short-info{ font-size: 24px; color: #eeebeb; font-family: Oswald-Light; }
.admin-block .white-block.clear-padding{padding: 0;}
.lifetime-sales{ border: solid 1px #ebe6e6;  border-radius: 3px;}
.lifetime-sales > .col-md-6:first-child{ border-right: solid 1px #ebe6e6; }
.lifetime-sales .title{ padding: 10px 10px 10px 0px; color: #a2a3a2; font-size: 24px; font-family: Oswald-Light; }
.lifetime-sales .sale-value { font-size: 28px; color: #666; padding-bottom: 10px; }

.last-orders-list { padding: 15px !important; border-radius: 3px; border: solid 1px #ebe6e6; }
.last-orders-list .title{ font-size: 24px; color: #e7505a; padding-bottom: 20px; border-bottom: solid 1px #f0f0f0; margin-bottom: 20px; }
.last-orders-list .title:after{ position: absolute; content: ''; border-bottom: solid 1px #e7505a; width: 135px; margin-top: 54px; left: 30px;}
.table.grid-info th{ font-size: 18px; color: #a7a4a4; font-family: Oswald-Light; padding-top: 10px; padding-bottom: 10px;}
.table.grid-info td{ font-size: 16px; color: #b0adad; font-family: Oswald-Light; padding-top: 10px; padding-bottom: 10px;}
.table.grid-info td:nth-child(2), .table.grid-info th:nth-child(2){ text-align: right; }
.table.grid-info td:nth-child(3), .table.grid-info th:nth-child(3){ text-align: right; }

.revenue-block  { border: solid 1px #ebe6e6; border-radius: 3px;}
.revenue-block .col-md-3 {padding-left: 10px; padding-right: 10px;}
.revenue-block .revenue-inner{ border-radius: 3px; }
.revenue-block .revenue-inner.revenue-info{ background-color: #36c6d3;  }
.revenue-block .revenue-inner.tax-info{ background-color: #659be0; }
.revenue-block .revenue-inner.shipping-info{ background-color: #ed6b75; }
.revenue-block .revenue-inner.quantity-info{ background-color: #f1c40f; }
.revenue-block .revenue-inner .title{ font-size: 14px; color: #fff;  padding-left: 10px; padding-right: 10px; text-transform: uppercase; padding-top: 10px;}
.revenue-block .revenue-inner .amount{font-size: 20px; color: #fff; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; text-transform: uppercase; padding-top: 10px; text-align: right;}
.revenue-block  .section-title { font-size: 24px; color: #5d5f5e; margin-bottom: 15px; }
.revenue-block  .section-title span{ font-size: 24px; color: #c5c7c6; font-family: Oswald-Light;}
.revenue-display-criteria .btn {font-family: Oswald-Light; font-size: 18px; color: #333; border: solid 1px #ccc; border-radius: 25px; padding: 3px 30px;}
.revenue-display-criteria .dropdown-menu  ul{padding-left: 10px;     -webkit-padding-start: 10px; font-family: Oswald-Light;  }
.revenue-display-criteria .dropdown-menu li{ list-style: none; margin-left: 0; padding-bottom: 10px;}
.revenue-display-criteria .dropdown-menu li:last-child{ padding-bottom: 0px; }
.revenue-display-criteria .dropdown-menu li a{ color: #333; display: block; }

/* Bestseller */
.bestseller-block {border: solid 1px #ebe6e6; border-radius: 3px;}
.bestseller-block .nav-tabs li a{ font-size: 24px; font-family: Oswald-Light; color: #a2a3a2; }
.bestseller-block .nav-tabs li.active a{ color: #e7505a; }
.bestseller-block .nav-tabs>li.active>a {border-left: none; border-top: none; border-right: none; border-bottom: solid 1px #e7505a;}

/* Visitors Graph */
.visitors-graph-block{border: solid 1px #ebe6e6; border-radius: 3px;}
.visitors-graph-block .section-title { font-size: 24px; color: #5d5f5e; margin-bottom: 15px; }
.visitors-graph-block .section-title span { font-size: 24px; color: #c5c7c6; font-family: Oswald-Light;}
.visitors-graph-block .graph-container {font-family: Oswald-Light;}

/* Simple Grid*/
.table.grid-info.simple-grid th:nth-child(2), .table.grid-info.simple-grid th:nth-child(3), .table.grid-info.simple-grid td:nth-child(2), .table.grid-info.simple-grid td:nth-child(3){ text-align: left; }
.table.grid-info.simple-grid>thead>tr>th { border-bottom: solid 5px #ebe6e6; }
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #fdfcfc; }

.user-info .simple-grid a{ margin-right: 15px; }
#user-modal .user-photo {overflow: hidden; width: 100px; height: 100px; border-radius: 100%; margin: 20px auto;}
#user-modal .user-photo img{ width: 100%; height: auto; }
#user-modal .title{ font-size: 24px; text-align: center; color: #1da1f2; margin-bottom: 40px;}
#user-modal .info-row{ display: block; clear: both; margin-bottom: 10px; margin-left: 20px; margin-right: 20px; }
#user-modal .info-row label{ float: left;width: 40%; font-size: 18px; color: #333; text-align: right; }
#user-modal .info-row input{ float: left; width: 55%; margin-left: 2%; font-size: 16px; padding: 5px; border: solid 1px #ccc; color: #999; }
#user-modal .btn-container { margin-top: 30px; margin-bottom: 30px;}
#user-modal .btn-container .btn-primary {font-size: 20px; background-color: #1da1f2; border: none; color: #fff; text-transform: uppercase; padding: 10px 30px; }
#user-modal .btn-container .btn-default{ font-size: 20px; background-color: #ececec; border: none; color: #b1b0b0; text-transform: uppercase; padding: 10px 30px; }



/* footer */
footer{ background-color: #333; padding: 30px; margin-top: 50px; color: #fff; font-family: Oswald-Light;  position: absolute;width: 100%; bottom: 0;}
footer .brand { text-transform: uppercase; font-size: 18px;  }
footer .usefull-links { font-size: 18px; }
footer ul.links{ padding: 0; }
footer ul.links li{ list-style: none; }
footer ul.links li a{ display: block; padding: 5px 0; color: #999; }
footer .social { font-size: 30px; margin-right: 15px; color: #ccc; }
footer .social:hover{ color: #999; }

