 @import url('fonts.css');

 body{ font-family: Oswald-Medium; }

 .box { position: absolute; z-index: 10500; background: #333; width: 300px; height: 100%; }
 
 .box-inner { width: 400px; padding: 10px;  border: 1px solid #a29415; }

/* Top navigation */
.navbar-default{ background-color: #1da1f2; margin-bottom: 0; font-family: Oswald-Light; font-size: 25px; border-bottom:none;}
.navbar-default .navbar-nav>li>a{ color: #fff; }
.nav-toggler{ width: 41px; height: 24px; background: url(../images/nav-toggler.png) no-repeat 0 0; border: none; margin: 10px 30px 0 0; }
.navbar-default .navbar-nav>.active>a{ background-color: #fff;  }


/* search box */
.searchbox{ position:relative; min-width:50px;  width:0%;  height:50px; float:right; overflow:hidden;   
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{ top:0; right:0; border:0; border-radius: 3px; outline:0; background:#fff; width:100%;  height:40px; margin:5px 0; padding:0px 55px 0px 20px; font-size:20px; color:#333; }
.searchbox-input::-webkit-input-placeholder { color: #333; }
.searchbox-input:-moz-placeholder { color: #333; }
.searchbox-input::-moz-placeholder { color: #333;}
.searchbox-input:-ms-input-placeholder { color: #333; }
.searchbox-icon, .searchbox-submit{ width:50px; height:50px; display:block; position:absolute; top:0; font-size:22px; right:0; padding:0; margin:0; border:0; outline:0; line-height:50px; text-align:center; cursor:pointer; color:#fff; background:#1da1f2; }
.searchbox-open{ width:150%; }


/* Cart info */
.cart-info { margin-top: 8px; color: #fff; }
.cart-toggle { margin-top: 8px;  }
.cart-toggle a{ color: #1c81be; }


/* product lising */
.product-listing-block{ border-right:solid 1px #d2d2d2; border-bottom: solid 1px #d2d2d2; margin-top: 50px;}
.product-listing-block .col-md-3{ border:solid 1px #d2d2d2; min-height: 350px; border-right: none; border-top: none; }
.product-listing-block .prod-outer-container { padding: 20px 0; }
.product-listing-block .prod-img-container { text-align: center; min-height: 220px; }
.product-listing-block .prod-img-container img{ width: auto; height: 100%; }
.prod-outer-container .prod-info-container{ padding-top: 15px; }
.prod-outer-container .prod-info-container .prod-name{ font-weight: bold; text-transform: uppercase; font-size: 18px; padding-top: 10px; color: #999; }
.prod-outer-container .prod-info-container .prod-price {font-weight: bold; text-transform: uppercase; font-size: 16px; color: #1da1f2; }
.product-listing-block a{ outline: none; }
.modal-backdrop { background-color: #0f3121;  }
.modal-backdrop.in {opacity: 0.8;}
a.prod-link{ display: block; }
a.prod-link:hover{text-decoration: none; }
.prod-outer-container .prod-discount { position: absolute; right: 20px; top: 20px; padding: 2px 10px; background-color:#000; color: #fff; font-size: 10px; z-index: 5; }

/* Product Listing Modal */
.modal-content{ border-radius: 0; background-color: #fff; top:50px;}
.close-btn-container{ position: absolute; right: 0; padding:0 20px; background-color:#fff; top: -40px; }
.close-btn-container .close{ font-size: 45px; }

.product-listing-block .modal-content .col-md-6{padding: 20px;}
.product-listing-block .modal-content .info-container{ border-left: solid 1px #e3e3e3; }
.product-listing-block .modal-content .product-title{ font-size: 18px; color: #333; text-transform: uppercase;}
.product-listing-block .modal-content .product-code{ text-transform: uppercase; color: #868282; font-size: 15px; font-family: Oswald-Light; margin-bottom: 30px; }
.product-listing-block .product-description { color: #a2a2a3; font-size: 15px; font-family: Oswald-Light; margin-bottom: 50px; }
.product-listing-block .product-price {color: #1da1f2; font-size: 36px; font-family: Oswald-Light; margin-bottom: 20px;}
.product-listing-block .available-colors{color: #999; font-size: 16px; margin-bottom: 40px;}
.radio-wrapper{ display: block; clear: both;  position: absolute; margin-top: -32px; margin-left: 80px;}
.radio-wrapper .btn-info{ background-color: transparent; }
.radio-wrapper input{ display: none; }
.product-listing-block .quantity-size{ border-top: solid 1px #e3e3e3; border-bottom: solid 1px #e3e3e3; }
.product-listing-block .quantity-size > .col-md-6:first-child, #checkout-modal .col-md-6{ border-right: solid 1px #e3e3e3; }
.product-listing-block .quantity-size .col-md-6{ padding:10px 20px 10px 0; }
.product-listing-block .quantity-size .form-group{ margin-bottom: 0; }
.product-listing-block .quantity-size .form-control{ border: none; box-shadow: none; color: #999; font-size: 16px;}
.product-listing-block .add-to-cart{ margin-top: 40px; }
.product-listing-block .add-to-cart .btn{ color: #fff; padding: 10px 25px 10px 60px; border-color: #1da1f2; font-size: 18px; text-transform: uppercase; margin-bottom: 20px; background: #1da1f2 url(../images/cart-icon.png) no-repeat 20px center;}
.product-listing-block .add-to-cart .btn:active{ background-color: #1784c7; }

.available-colors .btn{ width: 40px; height: 40px; border-radius: 100%; margin-right: 20px; border: none; }
.available-colors .btn i{ top: 5px; }
.available-colors .btn-green { background-color: rgba(144,202, 124, 0.4); color: #fff;}
.available-colors .btn_red { background-color: rgba(218,12, 12, 0.4); color: #fff;}
.available-colors .btn_blue { background-color: rgba(29,161, 242, 0.4); color: #fff;}
.available-colors .btn_black { background-color: rgba(0,0, 0, 0.4); color: #fff;}

.available-colors .btn-green.active { background-color: rgba(144,202, 124, 1); color: #fff;}
.available-colors .btn_red.active { background-color: rgba(218,12, 12, 1); color: #fff;}
.available-colors .btn_blue.active { background-color: rgba(29,161, 242, 1); color: #fff;}
.available-colors .btn_black.active { background-color: rgba(0,0, 0, 1); color: #fff;}


/* checkout */
#checkout-modal .col-md-6{padding-bottom: 30px;}
#checkout-modal .title{ font-size: 24px; color: #1da1f2; padding: 20px 0; margin-bottom: 30px; }
#checkout-modal .cart-product-container .cart-product{ border: solid 1px #e1dede; padding: 15px 0; margin-bottom: 15px; }
#checkout-modal .cart-product-container .cart-product .prod-img img{ width: 100%; }
#checkout-modal .cart-product-container .cart-product .name { font-size: 16px; color: #333;}
#checkout-modal .cart-product-container .cart-product .color { font-size: 14px; color: #9d9999; }
#checkout-modal .cart-product-container .cart-product .size { font-size: 14px; color: #9d9999; }
#checkout-modal .cart-product-container .cart-product .close-btn a{ display: block; width: 25px; height: 25px; background-color: #ccc; color: #fff; font-size: 30px; border-radius: 100%; float: right; text-align: center; line-height: 21px;}
#checkout-modal .cart-product-container .cart-product .close-btn a:hover{ text-decoration: none; background-color: #333; }
#checkout-modal .cart-product-container .cart-product .price{ font-size: 18px; color: #333; text-align: right; display: block;clear: both; margin-top: 50px; }
.subtotal-container-outer{ padding: 20px 0; }
.subtotal-inner{ border:solid 1px #e9f5fd; background-color: #e9f5fd; border:  solid 1px #b6def6; margin-bottom: 15px; }
.subtotal-inner .info-row { border-bottom: solid 1px #b6def6; padding:10px; }
.subtotal-inner .info-row .name{ color:#636262; font-size: 18px;}
.subtotal-inner .info-row .value {color:#9d9b9b; font-size: 18px;}
.subtotal-container-outer .dues { background-color: #1da1f2; border-radius: 5px; padding: 15px; font-size: 24px; color: #fff; font-family: Oswald-Light;}
.payment-method{ margin-bottom: 15px; }
.payment-method .title{ text-transform: uppercase; padding-top: 60px; color: #333; margin-bottom: 0 !important; }
.payment-method .cash-method { background-color: #ededed; border: solid 1px #dbdbdb; padding: 10px; color: #9b9b9b; }
.payment-method .col-md-6{ padding: 0 !important; border:none;}
.payment-method .value input{ width: 90%; padding: 10px 5px; background-color: #fff; border: none; }
.payment-method .name { line-height: 40px; }








 